<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Device Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col><strong>Key</strong></ion-col>
      <ion-col><strong>Value</strong></ion-col>
      <ion-col><strong>Copy</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let key of deviceInfo | keyvalue">
      <ion-col>{{ key.key }}</ion-col>
      <ion-col>{{ key.value }}</ion-col>
      <ion-col>
        <ion-button size="small" (click)="copyToClipboard(key.value)">
          Copy
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
